# Build output
dist/
build/
out/

# Environment / secrets
.env
.env.local
.env.*.local
*.pem
*.key
env/

# OS
.DS_Store
Thumbs.db

#node_modules
node_modules/

#supabase secrets --from supplier service
supabase/.temp/start-secrets/supabase_edge_runtime_FoC/env/